<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página Principal</title>
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <link rel="preload" href="{{ url_for('static', filename='img/inicio.jpg') }}" as="image">
</head>
    <body>
        {% include 'shared/header.html' %}

        <main>
            <section id="carousel">
                <div id="blur-background"></div> 
                <div class="carousel-track" id="carousel-track"></div>
                <button id="prevBtn">&#10094;</button>
                <button id="nextBtn">&#10095;</button>
            </section>
            <div class="title_mv">
                <h3><span class="car">Car</span><span class="epair">epair</span></h3>
            </div>
            <section class="mision-vision">
                <div class="mision">
                    <h3 id="mision-title">MISIÓN</h3>
                    <p aria-labelledby="mision-title">
                        Nuestra misión es ofrecer productos de calidad, que satisfagan las necesidades y expectativas 
                        de nuestros clientes, brindando una experiencia de compra accesible, confiable y moderna a través 
                        de nuestra plataforma web. Nos comprometemos a construir relaciones duraderas basadas en la 
                        confianza, el servicio personalizado y la mejora continua. Buscamos fusionar la innovación 
                        tecnológica con una atención al cliente excepcional, generando valor tanto para nuestros 
                        consumidores.
                    </p>
                </div>
                <div class="space"><p></p></div>
                <div class="vision">
                    <h3 id="vision-title">VISIÓN</h3>
                    <p aria-labelledby="vision-title">
                        Ser una empresa líder en el mercado nacional e internacional, reconocida por su compromiso con 
                        la excelencia, la innovación digital y la satisfacción del cliente. Aspiramos a consolidarnos 
                        como un referente en comercio electrónico, adaptándonos a las nuevas tendencias del mercado y 
                        promoviendo un crecimiento sostenible. En el futuro, visualizamos una marca sólida, moderna y 
                        socialmente responsable que inspire confianza y preferencia en cada una de las personas que 
                        nos eligen.
                    </p>
                </div>
            </section>
        </main>

        {% include 'shared/footer.html' %}
        <script src="{{ url_for('static', filename='js/carrusel.js') }}"></script>
    </body>
</html>
