<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página Principal</title>
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/carrusel.css') }}">
</head>
    <body>
        {% include 'shared/header.html' %}

        <main>
            <section id="carousel">
                <div id="blur-background"></div> 
                <div class="carousel-track" id="carousel-track"></div>
                <button id="prevBtn">&#10094;</button>
                <button id="nextBtn">&#10095;</button>
            </section>
            <div class="bloque"><p></p></div>
            <section class="mision-vision">
                <div class="mision">
                    <h3>MISIÓN</h3>
                    <p>Al contrario del pensamiento popular, el texto de Lorem Ipsum no es simplemente texto aleatorio. 
                        Tiene sus raices en una pieza cl´sica de la literatura del Latin, que data del año 45 antes de Cristo,
                        haciendo que este adquiera mas de 2000 años de antiguedad. Richard McClintock, un profesor de Latin de 
                        la Universidad de Hampden-Sydney en Virginia, encontró una de las palabras más oscuras de la lengua del 
                        latín, "consecteur", en un pasaje de Lorem Ipsum, y al seguir leyendo distintos textos del latín,
                        descubrió la fuente indudable. Lorem Ipsum viene de las secciones 1.10.32 y 1.10.33 de "de Finnibus Bonorum
                        et Malorum" (Los Extremos del Bien y El Mal) por Cicero, escrito en el año 45 antes de Cristo. Este libro
                        es un tratado de teoría de éticas, muy popular durante el Renacimiento. La primera linea del Lorem Ipsum, 
                        "Lorem ipsum dolor sit amet..", viene de una linea en la sección 1.10.32. El trozo de texto estándar de Lorem 
                        Ipsum usado desde el año 1500 es reproducido debajo para aquellos interesados. Las secciones 1.10.32 y 1.10.33 de 
                        "de Finibus Bonorum et Malorum" por Cicero son también reproducidas en su forma original exacta, acompañadas por 
                        versiones en Inglés de la traducción realizada en 1914 por H. Rackham.
                    </p>
                </div>
                <div class="space"><p></p></div>
                <div class="vision">
                    <h3>VISIÓN</h3>
                    <p>Al contrario del pensamiento popular, el texto de Lorem Ipsum no es simplemente texto aleatorio. 
                        Tiene sus raices en una pieza cl´sica de la literatura del Latin, que data del año 45 antes de Cristo,
                        haciendo que este adquiera mas de 2000 años de antiguedad. Richard McClintock, un profesor de Latin de 
                        la Universidad de Hampden-Sydney en Virginia, encontró una de las palabras más oscuras de la lengua del 
                        latín, "consecteur", en un pasaje de Lorem Ipsum, y al seguir leyendo distintos textos del latín,
                        descubrió la fuente indudable. Lorem Ipsum viene de las secciones 1.10.32 y 1.10.33 de "de Finnibus Bonorum
                        et Malorum" (Los Extremos del Bien y El Mal) por Cicero, escrito en el año 45 antes de Cristo. Este libro
                        es un tratado de teoría de éticas, muy popular durante el Renacimiento. La primera linea del Lorem Ipsum, 
                        "Lorem ipsum dolor sit amet..", viene de una linea en la sección 1.10.32. El trozo de texto estándar de Lorem 
                        Ipsum usado desde el año 1500 es reproducido debajo para aquellos interesados. Las secciones 1.10.32 y 1.10.33 de 
                        "de Finibus Bonorum et Malorum" por Cicero son también reproducidas en su forma original exacta, acompañadas por 
                        versiones en Inglés de la traducción realizada en 1914 por H. Rackham.
                    </p>
                </div>
            </section>
        </main>

        {% include 'shared/footer.html' %}
        <script>
            const images = [
              "{{ url_for('static', filename='img/carrusel/climatizacion.jpg') }}",
              "{{ url_for('static', filename='img/carrusel/desengrasantes-2.jpg') }}",
              "{{ url_for('static', filename='img/carrusel/climatizacion.jpg') }}",
              "{{ url_for('static', filename='img/carrusel/desengrasantes-2.jpg') }}",
              "{{ url_for('static', filename='img/carrusel/climatizacion.jpg') }}",
              "{{ url_for('static', filename='img/carrusel/desengrasantes-2.jpg') }}",
              "{{ url_for('static', filename='img/carrusel/climatizacion.jpg') }}"
            ];
        </script>
        <script src="{{ url_for('static', filename='js/carrusel.js') }}"></script>
    </body>
</html>
