<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
    <body>
        {% include 'shared/header.html' %}
        
        <main>
          <h1 class="page-title">LOGIN</h1>
          <div class="team-grid" id="team-container"></div>
 
          <div class="login-container">
            
            <form id="login-form">
              <div class="input-group">
                <label for="username">Usuario</label>
                <input type="text" id="username" placeholder="Ingrese su usuario" required>
              </div>
              <div class="input-group">
                <label for="password">Contraseña</label>
                <input type="password" id="password" placeholder="Ingrese su contraseña" required>
              </div>
              <button type="submit">Iniciar</button>
            </form>
          </div>

   
        </main>
        
        {% include 'shared/footer.html' %}
        <script src="{{ url_for('static', filename='js/login.js') }}"></script>
    </body>
</html>