<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página Promociones</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
    <body>
        {% include 'shared/header.html' %}
        
        <main>

            <!-- Aquí va el contenido de la pagina -->
            
        </main>
        
        {% include 'shared/footer.html' %}
        <script src="js/includeShared.js"></script>
    </body>
</html>