<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página Sucursales</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/sucursal.css') }}">
  
</head>
    <body>
        {% include 'shared/header.html' %}
        
        <main>

            <h1 class="page-title">Nuestras Sucursales</h1>
            <div class="team-grid" id="team-container"></div>
            </div>
              
            
        </main>
        
        {% include 'shared/footer.html' %}
        <script src="{{ url_for('static', filename='js/sucursales.js') }}"></script>
    </body>
</html>