<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página Sucursales</title>
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/sucursal.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
    <body>
        {% include 'shared/header.html' %}
        
        <main>

            <div class="container"><h1><i class="fa-solid fa-house"></i> Nuestras Sucursales</h1></div>
            <div class="team-grid" id="team-container"></div> 
            
        </main>
        
        {% include 'shared/footer.html' %}
        <script src="{{ url_for('static', filename='js/sucursales.js') }}"></script>
    </body>
</html>