* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body {
    height: 145vh;
    position: relative;
    background-color: #FFF;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 160px;
    background-color: blue;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
  
main {
    flex: 1;
}