/*Titulo del Login*/
.page-title {
  text-align: center;
  font-size: 2.5rem;
  margin: 30px 0;
  color: #141010;
  text-transform: uppercase;
  font-weight: bold;
}
.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}
  .login-container h2 {
  margin-bottom: 20px;
  color: #333;
}
  .login-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
  .login-container button {
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.login-container button:hover {
  background-color: #2980b9;
}

    