/* Título */
.page-title {
  text-align: center;
  font-size: 2.5rem;
  margin: 30px 0;
  color: #141010;
  text-transform: uppercase;
  font-weight: bold;
}
/* Para cada  sucursal */
 .sucursal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
 }
/* Imágenes de las sucursales */
.sucursal-img {
  width: 130px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #3498db;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.sucursal-img:hover {
  transform: scale(1.05);
}

/* Contenedores de la información de las sucursales */
.sucursal-info {
  max-width: 300px;
  border: 2px solid #3498db;
  border-radius: 10px;
  padding: 20px;
  background-color: #ecf0f1;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.sucursal-info:hover {
  background-color: #d5dbdb;
}

/* Estilo para el texto dentro de los contenedores */
.sucursal-info p {
  margin: 5px 0;
  font-size: 1rem;
  color: #34495e;
}

.sucursal-info strong {
  color: #2980b9;
}