<footer>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://kit.fontawesome.com/0acc46e8b4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <div class="footer1">
        <div class="box">
            <figure>
                <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='/img/Carepair.png') }}" alt="Logo"></a>
            </figure>
        </div>
        <div class="box">
            <h2>SOBRE NOSOTROS</h2>
                <p>Carepair</p>
        </div>       
        <div class="box">
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a href="https://facebook.com" class="fa fa-facebook" target="_blank" rel="noopener noreferrer"></a>
                <a href="https://instagram.com" class="fa fa-instagram" target="_blank" rel="noopener noreferrer"></a>
                <a href="https://twitter.com" class="fa fa-twitter" target="_blank" rel="noopener noreferrer"></a>
                <a href="https://youtube.com" class="fa fa-youtube" target="_blank" rel="noopener noreferrer"></a>
            </div>
        </div>
    </div>
    <div class="footer2">
        <small>&copy; 2025 <b>GRUPO 17</b> - Todos los derechos Reservados </small>
    </div>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/footer.css') }}">
</footer> 